<html>

<head>
    <title>Dynamic Salt Test Login</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body>
    <form action="/postlogin" method="post">
        User Name:
        <input type="text" name="uname" id="unam" required>
        <br> Password:

        <input type="password" name="pwd" id="pswd" required>
        <br> Most likeable Color:
        <br>
        <select name="color1" required>
            <option value="1" style="background:red">Red</option>
            <option value="2" style="background:green">Green</option>
            <option value="3" style="background:yellow">Yellow</option>
            <option value="4" style="background:blue">Blue</option>
            <option value="5" style="background:orange">Orange</option>
            <option value="6" style="background:purple">Purple</option>
            <option value="7" style="background:cyan">Cyan</option>

            <option value="8" style="background:lime">Lime</option>
            <option value="9" style="background:pink">Pink</option>
            <option value="10" style="background:teal">Teal</option>

            <option value="11" style="background:brown">Brown</option>
            <option value="12" style="background:beige">Beige</option>
            <option value="13" style="background:maroon">Maroon</option>
            <option value="14" style="background:mint">Mint</option>
            <option value="15" style="background:olive">Olive</option>
            <option value="16" style="background:coral">Coral</option>
            <option value="17" style="background:navy">Blue</option>
            <option value="18" style="background:grey">Grey</option>
            <option value="19" style="background:white">White</option>
            <option value="20" style="background:black">Black</option>
        </select>
        <br> Next most likeable Color:
        <br>
        <select name="color2" id="clr" required>
            <option value="1" style="background:red">Red</option>
            <option value="2" style="background:green">Green</option>
            <option value="3" style="background:yellow">Yellow</option>
            <option value="4" style="background:blue">Blue</option>
            <option value="5" style="background:orange">Orange</option>
            <option value="6" style="background:purple">Purple</option>
            <option value="7" style="background:cyan">Cyan</option>

            <option value="8" style="background:lime">Lime</option>
            <option value="9" style="background:pink">Pink</option>
            <option value="10" style="background:teal">Teal</option>

            <option value="11" style="background:brown">Brown</option>
            <option value="12" style="background:beige">Beige</option>
            <option value="13" style="background:maroon">Maroon</option>
            <option value="14" style="background:mint">Mint</option>
            <option value="15" style="background:olive">Olive</option>
            <option value="16" style="background:coral">Coral</option>
            <option value="17" style="background:navy">Blue</option>
            <option value="18" style="background:grey">Grey</option>
            <option value="19" style="background:white">White</option>
            <option value="20" style="background:black">Black</option>
        </select>
        <br>
        <input type="submit" name="submit">
    </form>
</body>

</html>