<html>

<head>
    <title>Dynamic Salt Test Login</title>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
</head>

<body>
    <div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Log In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Username</label>
                    
                    <form action="/postlogin" method="post">
					<input id="user" type="text" name="uname" class="input">
                    </form>
                    
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
                    
                    <form action="/postlogin" method="post">
					<input id="pass" type="password" name="pwd" class="input" data-type="password">
                    </form>
                    
				</div>
				
				
                <div class="group">
                    
                    <form action="/postlogin" method="post">
                        <label for="pass" class="label">Most Favourite Color: </label>
					<select name="color1" required>
                        <option selected> Select Color1 </option>
                        <option value="1" style="background:red">Red</option>
                        <option value="2" style="background:green">Green</option>
                        <option value="3" style="background:yellow">Yellow</option>
                        <option value="4" style="background:blue">Blue</option>
                        <option value="5" style="background:orange">Orange</option>
                        <option value="6" style="background:purple">Purple</option>
                        <option value="7" style="background:cyan">Cyan</option>

                        <option value="8" style="background:lime">Lime</option>
                        <option value="9" style="background:pink">Pink</option>
                        <option value="10" style="background:teal">Teal</option>

                        <option value="11" style="background:brown">Brown</option>
                        <option value="12" style="background:beige">Beige</option>
                        <option value="13" style="background:maroon">Maroon</option>
                        <option value="14" style="background:mint">Mint</option>
                        <option value="15" style="background:olive">Olive</option>
                        <option value="16" style="background:coral">Coral</option>
                        <option value="17" style="background:navy">Blue</option>
                        <option value="18" style="background:grey">Grey</option>
                        <option value="19" style="background:white">White</option>
                        <option value="20" style="background:black">Black</option>
                    </select>
                    </form>
                    
				</div>
                
                <div class="group">
                    
                    <form action="/postlogin" method="post">
                        <label for="pass" class="label">Next Most Favourite Color: </label>
					<select name="color2" required>
                        <option selected> Select Color2 </option>
                        <option value="1" style="background:red">Red</option>
                        <option value="2" style="background:green">Green</option>
                        <option value="3" style="background:yellow">Yellow</option>
                        <option value="4" style="background:blue">Blue</option>
                        <option value="5" style="background:orange">Orange</option>
                        <option value="6" style="background:purple">Purple</option>
                        <option value="7" style="background:cyan">Cyan</option>

                        <option value="8" style="background:lime">Lime</option>
                        <option value="9" style="background:pink">Pink</option>
                        <option value="10" style="background:teal">Teal</option>

                        <option value="11" style="background:brown">Brown</option>
                        <option value="12" style="background:beige">Beige</option>
                        <option value="13" style="background:maroon">Maroon</option>
                        <option value="14" style="background:mint">Mint</option>
                        <option value="15" style="background:olive">Olive</option>
                        <option value="16" style="background:coral">Coral</option>
                        <option value="17" style="background:navy">Blue</option>
                        <option value="18" style="background:grey">Grey</option>
                        <option value="19" style="background:white">White</option>
                        <option value="20" style="background:black">Black</option>
                    </select>
                    </form>
                    
				</div>
                <div class="group">
					<input id="check" type="checkbox" class="check" checked>
					<label for="check"><span class="icon"></span> Keep me Signed in</label>
				</div>
                
                <div class="group">
                    
                    <form action="/postlogin" method="post">
					<input type="submit" class="button" value="Sign In">
                    </form>
                    
				</div>
                
                
				<div class="hr"></div>
				<div class="foot-lnk">
					<a href="#forgot">Forgot Password?</a>
				</div>
			</div>
			
		</div>
	</div>
</div>
    
</body>

</html>